@import "tailwindcss";

body{
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    hsl(222, 47%, 11%)
  );
/* animation: gradientMove 10s ease infinite; */
background-repeat: no-repeat;
background-size: 100% 2000%;

}

/* @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
/* 
.animate-gradient {
  animation: gradientMove 6s ease infinite;
} */
@keyframes opacityani{
100% { opacity: 100%;}
0%{opacity: 50%;}

50% {opacity: 100%;}
}
.animate-opacity{
    animation: opacityani 6s ease;
}
  @keyframes slideAnimate {
    0% { 
       transform: translate(0,40px);
       ;
      opacity: 0;
    }
    100% {
      transform: translate(0,0);
      opacity: 1;
    }
  }

 .animate-slide{
    animation: slideAnimate 0.6s ease forwards;
    background-size: 100% 200%; 
  }
  @keyframes slide-left {
    0%{
      transform: translate(-200px,0);
      opacity: 0;
    }
    
    100%{
      transform: translate(0,0);
      opacity: 1;
    }
  }
  .animate-slide-left{
    animation: slide-left 0.8s ease forwards;
  }
  @keyframes slidedown {
    0%{
      width: 0%;
      opacity: 0;
    }
    
    100%{
      width: 100%;
      opacity: 1;
    }
  }
  .animate-slide-right{
    animation: slidedown 1.2s ease forwards;
  }
  @keyframes opacity-navbar {
    0%{
      opacity: 0;
    }
    100%{
      opacity:1 ;
    }
  }
  .animate-slide-right-navbar{
    animation: opacity-navbar 1s ease forwards;
  }
  @keyframes height-slide {
    0%{
      height: 0%;
      opacity: 0;
    }
    100%{
      height: 100%;
      opacity: 0.4;
    }
  }
  .animate-height{
    animation: height-slide 0.8s ease forwards;
  }
  @keyframes width-slide {
    0%{
      width: 0%;
      opacity: 0;
    }
    100%{
      width: 100%;
      opacity: 0.4;
    }
  }
  .animate-width{
     animation: width-slide 0.8s ease forwards;
  }
  @keyframes slide-line-left {
    0%{
      transform: translate(-2000px,0);
      opacity: 0;
    }
    50%{
      transform: translate(150px,0);
      opacity: 0.2;
    }
    100%{
      transform: translate(350px,0);
      opacity: 0.4;
    }
  }
  .slide-line-left{
    animation: slide-line-left 1s ease-out forwards;
  }
  @keyframes slide-line-right{
    0%{
      transform: translate(1000px,0);
      opacity: 0;
    }
    50%{
      transform: translate(-100px,0);
    }
    
    100%{
      transform: translate(-200px,0);
      opacity: 0.4;
    }
  }
  .slide-line-right{
    animation: slide-line-right 1.3s ease-out forwards;
  }
  @keyframes slide-line-up {
    0%{
      transform: translate(0,-2000px);
      opacity: 0;
    }
    100%{
     transform: translate(0,0);
     opacity: 0.4;
    }
  }
  .slide-line-up{
    animation: slide-line-up 0.8s ease-out forwards;
  }
