@import "tailwindcss";

body {
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    hsl(222, 47%, 11%)
  );


background-repeat: no-repeat;
animation: gradientMove 10s ease infinite;
background-size: 1000% 2000%;  
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 6s ease infinite;
}
@keyframes opacityani{
100% { opacity: 100%;}
0%{opacity: 50%;}

50% {opacity: 100%;}
}
.animate-opacity{
    animation: opacityani 6s ease;
}
  @keyframes slideAnimate {
    0% { 
       transform: translate(0,40px);
       ;
      opacity: 0;
    }
    100% {
      transform: translate(0,0);
      opacity: 1;
    }
  }

 .animate-slide{
    animation: slideAnimate 0.5s ease forwards;
    background-size: 100% 200%; 
  }
  @keyframes slidedown {
    0%{
      width: 0%;
      opacity: 0;
    }
    
    100%{
      width: 100%;
      opacity: 1;
    }
  }
  .animate-slide-right{
    animation: slidedown 1.2s ease forwards;
  }
  @keyframes opacity-navbar {
    0%{
      opacity: 0;
    }
    100%{
      opacity:1 ;
    }
  }
  .animate-slide-right-navbar{
    animation: opacity-navbar 1s ease forwards;
  }
  